# Binaries
/khayal
/kl
*.exe

# Test artifacts
testdata/khayal.db*
testdata/logs/
*.test
testdata/vault/khayal/*.md
testdata/vault/.obsidian
testdata/*.pid
testdata/vault/khayal/media/*
testdata/vault/khayal/.khayal-trash/

# Editor
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Go
vendor/

#node
node_modules

# Environment
.env
.env.local
*.pem

# Logs
*.log
